<body class="text-center">
    <form class="form-signin" method="post" action="/signup">
        <img class="mb-4" src="images/sunrise.jpg" alt="sunrise     over an ocean" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
        <label for="username" class="sr-only">Username</label>
        <p><input type="text" name="username" class="w-25 p-3"  placeholder="Username" required autofocus></p>
        <label for="username" class="sr-only">Email</label>
        <p><input type="email" name="email" class="w-25 p-3     "placeholder="Email" required autofocus></p>
        <label for="inputPassword" class="sr-only">Password</label>
        <p><input type="password" name="password"   id="inputPassword" class="w-25 p-3"   placeholder="Password" required></p>
        <button class="btn btn-lg btn-primary" type="submit">Sign up</button>
        
    </form>
</body>