<h1>You are seconds from getting your requests answered.</h1>
<h2>Sign up below!</h2>
<form method="post" action="/signup">
<label for="username">Username</label>
<input type="text" name="username">
<br>
<label for="email">Email</label>
<input type="email" name="email">
<br>
<label for="password">Password</label>
<input type="password" name="password">
<input type="submit" value="Signup">
</form>
<br>
<a href="/user/login">Already have an account? Login!</a>