<h1>Submit your problems here</h1>
<form action="/tickets" method="post">
<label for="title">Subject</label>
<input type="text" name="title">
<label for="content">Content</label>
<input type="text" name="content">
<input type="submit" value="Supplicate">
</form>