<h1>Update your query</h1>
<h2><%= @ticket.title %></h2>
<p><%= @ticket.content %></p>
<form action="/tickets/<%= @ticket.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<label for="admin_response">Admin Response</label>
<input type="text" name="admin_response">
<label for="resolved?">Resolved?</label>
<input type="checkbox" name="resolved?" <%= @ticket.resolved? ? "checked" : ""%>>
<input type="submit" value="Alter">
</form>