<h1>Update your query</h1>
<form action="/tickets/<%= @ticket.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<input type="text" name="title" value="<%= @ticket.title %>">
<input type="text" name="content" value="<%= @ticket.content %>">
<label for="resolved?">Resolved?</label>
<input type="hidden" name="resolved?" value="false">
<input type="checkbox" name="resolved?" value="true" <%= @ticket.resolved? ? "checked" : ""%>>
<input type="submit" value="Alter">
</form>