<h1>Please log in to access and send tickets<h2>
<form method="post" action="/login">
<p>Username:<input type="text" name="username" placeholder="Suplicant20"></p>
<p>Password:<input type="password" name="password" placeholder="PrayingForAnAnswer"></p>
<p><input type="submit" value="To ask is Divine"></p>
</form>